#search-bar{
  display: flex;
  width: 90%;
  max-width: 400px;
  margin: auto;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: var(--border-radius-px);


  --border-radius-px: 30px;
}

#search-bar input {
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; */
  flex: 1 0 auto; /*same as above*/
  border: 0;
}

#search-bar button {
  border: 0;
  border-radius: 0 var(--border-radius-px) var(--border-radius-px) 0;
  color: rgb(243, 243, 243);
  background-color: orange;
}

#search-bar label {
  padding: 5px 10px;
  padding-bottom: 3px;
  cursor: pointer;
}