@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import 'palette.css';
@import 'resets.css';
@import 'navigation.css';
@import 'hero.css';
@import 'snippets.css';
@import 'search.css';

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #EBEBEC
}

#competitors {
  background-color: blueviolet;
}

.info-block{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.info-block img {
  width: 100%;
}

.info-block p{
  padding: 2rem;
}
