@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import 'palette.css';
@import 'resets.css';
@import 'navigation.css';
@import 'hero.css';
@import 'snippets.css';
@import 'search.css';

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #EBEBEC
}

#competitors {
  background-color: var(--snips-purple);
  text-align: center;
  height: 21rem;
}

.competitor{
  max-width: 11rem;
  padding: 0px 3rem;
}

.icon-container{
  margin: 3rem 0;

}

.info-block{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 7rem;
}

.info-block:nth-child(2n){
  background-color: #c6edef;

}

.info-block:nth-child(2n + 1){
  background-color: #f0f3f7;
}

.info-block img {
  width: 100%;
}

.info-block p{
  padding:  0 5rem 0 5rem;
  font-size: 16px;
  line-height: 2rem;
}
